body{
    font-family: koho;
}

/* /////////////////////////////////// NavBar //////////////////////////////////// */
.bg-info{
    background-image: url('/images/bg-info-2.jpg');
    background-size: cover;
}
.bg-cards{
    background-image: url('/images/bg-cards.jpg');
    background-size: cover;
}
.bg-donate{
    background-image: url('/images/bg-donate.jpg');
    background-size: cover;
}
.bg-subscribe{
    background-image: url('/images/bg-subscribe.jpg');
    background-size: cover;
}
.bg-color-container{
    background: rgba(252, 255, 102, 0.1);
}
.bg-color-nav{
    background-color: rgb(255, 230, 234);
}
.bg-footer{
    background-image: url('/images/bg-footer.jpg');
    background-size: cover;
}
.link-donar{
    cursor: pointer;
    border: none;    
    color : white!important;
    box-shadow: 0 7px 25px rgba(0, 0, 0, .30);
    background-color: #A4CAED !important;
}
.bg-nav-sticky{
    background-color: rgb(255, 250, 202);
    
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    
    overflow-y: scroll;
}
/* /////////////////////////////////// NavBar //////////////////////////////////// */

/* //////////////////////////////////  carousel //////////////////////////////////////// */
.text-carousel{
    
    color: mix(#fff, #e91e63, 85%);
    font-size: calc(1em + 3vw) ;  
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
}
 .text-tittles{
     font-size: 30px;
    text-shadow: 2px 2px 2px black;
    color:white;
    font-weight: 900;
}   
.subtitles{
    font-size: 20px;
}
.txt-shadow{
    text-shadow: 1px 1px 1px black
}
.small-size{
    font-size: 17px;

}

.text-stiles{
    font-style: italic;
    color: white !important;
    font-weight: bold;
}
    

.bg-website {
    background-color: rgba(255, 255, 255, 0.836);
    

}
.bg-navbar{
    background-color: #F89D70;
}

.fsize-carousel{
    font-size: 25px !important;
}

/* //////////////////////////////////  carousel //////////////////////////////////////// */

/* //////////////////////////////////  container-info-Maria //////////////////////////////////////// */
.mt-element{
    margin-top: 20px;
}
/* //////////////////////////////////  container-info-Maria (nosotros)//////////////////////////////////////// */
.shadow {
    box-shadow: 0 7px 25px rgba(0, 0, 0, .30);
}

.shadow-container {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .30);
}

.radius{
    border-radius: 50%;
    
}

.background-container{
    background-image: url('/images/background-form.jpg');
    background-size: cover;
}



.f-size{
    font-size: 30px;
}

.buttons-donate{
    font-weight: bold !important ;
    background-color: #A4CAED !important;
    color: white !important;
    box-shadow: 0 7px 25px rgba(0, 0, 0, .30);
}
.buttons-donate i{
    font-size: 50px;
}

/* /////////////////////////// Email-Form ///////////////////// */




/* //////////// Buttons-Page //////////////////// */

.button {
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    border: 2px solid;
    border-color: #318aac;
    position: relative;
}
.button:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transition: all 1s ease;
}
.button:hover:before {
    width: 100%;
}

/* //////////// Buttons-Page //////////////////// */


/* ///////////////// footer ////////// */
div.footer a {
    text-decoration: none;
}

div.footer a:hover {
   font-size: 20px;
}
div.footer i:hover {
    font-size: 20px;
 }
 p.parFooter i:hover{
    font-size: 20px;
 }

 .style-footer-link{
     color : black;
     font-style: italic;
     
 }

 .parraphInfo{
     text-align: justify;
     
 }